<mat-card class="dish-card">
    <mat-card-content class="front">
        <div class="type-label"></div>
        <div class="image-section">
            <img src="" alt="">
        </div>
        <div class="desc-section">
            <div>Idli Wada</div>
            <div>30 min</div>
            <dish-difficulty-rate [(level)]="difficultyLevel"></dish-difficulty-rate>
            <!-- <div>
                <mat-icon svgIcon="chef-icon"></mat-icon>
                <mat-icon svgIcon="chef-icon-blank"></mat-icon>
            </div> -->
        </div>
    </mat-card-content>
    <!-- <mat-card-content>

    </mat-card-content> -->
</mat-card>