<mat-card class="dish-card flex-column">
    <mat-card-content class="card-content flex-column flex">
        <div class="main-details flex">
            <div class="dish-type-flag veg" [ngClass]="{'veg': dishData.vegType === 'NON_VEG'}">
                <div class="circle"></div>
            </div>
            <div class="image-section">
                <img [src]="dishData.imageUrl" alt="" blankDishImage="">
            </div>
            <div class="main-details-text">
                <div class="main-details-title">{{dishData.name}}</div>
                <div class="main-details-description">{{dishData.description | textLimit}}</div>
            </div>
        </div>
        <div class="extra-details flex-row">
            <div class="desc-icon-label flex flex-row layout-align-start-center">
                <mat-icon class="icon">timer</mat-icon>
                <span>{{dishData.time}} {{timeUnitMap[dishData.timeUnit]}}</span>
            </div>
            <div class="desc-icon-label flex flex-row layout-align-start-center">
                <mat-icon class="icon" svgIcon="chef-hat"></mat-icon>
                <span>{{difficultyMap[dishData.difficulty]}}</span>
            </div>
        </div>
        <div class="action-buttons flex-row layout-align-space-between-center">
            <button mat-icon-button (click)="viewDish()">
                <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button (click)="editDish()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteDish()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card-content>

</mat-card>