.dish-card{
    width:225px;
    height:245px;
    padding: 0;
    overflow: hidden;
    position: relative;
    .card-content{
        padding:16px;
        .main-details{
            height: 100%;
            position:relative;
            overflow: hidden;
            .image-section{
                width:193px;
                height: 150px;
                transition: 0.5s ease-in-out;
                position: absolute;
                right: 0;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    transition: border-radius 0.5s ease-in-out;
                }
            }
            .main-details-text{
                transform: translateY(150px);
                transition: 0.5s ease-in-out;
                .main-details-title{
                    font-size: 18px;
                    margin:10px 0 20px 0px;
                }
            }
        }

        .extra-details{
            opacity: 1;
            transition: 0.5s ease-in-out;
            margin-top: 10px;
            .desc-icon-label{
                .icon{
                    height: 16px;
                    width: 16px;
                    font-size: 16px;
                    margin-right: 6px;
                }
            }
        }
        .action-buttons{
            position: absolute;
            bottom: -35px;
            width:193px;
            transition: 0.5s ease-in-out;
        }
    }
    &:hover{
        .card-content{
            .main-details{
                .image-section{
                    width:45px;
                    height: 45px;
                    order:1;
                    img{
                        border-radius: 50%;
                    }
                }
                .main-details-text{
                    transform: translateY(0px);
                }
            }
            .extra-details{
                opacity: 0;
            }
            .action-buttons{
                bottom: 5px;
            }
        }
        .dish-type-flag{
            opacity: 0;
        }
    }
    
}
.dish-type-flag{
    position: absolute;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid darkgreen;
    border-top-right-radius: 5px;
    z-index: 100;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease-in-out;
    .circle{
        height: 60%;
        width: 60%;
        border-radius: 50%;
        background-color: darkgreen;
    }
    &.non-veg{
        border-color: #964122;
        .circle{
            background-color: #964122;
        } 
    }
}