:host{
    overflow-y: auto;
}
.add-btn{
    position : fixed;
    bottom: 45px;
    right: 45px;
}
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.dish-card{
    margin: 10px 15px;
}